# common
dev.vim
build/
dist
sevenn.egg-info
*.swp
__pycache__/
.DS_Store

# from uv
uv.lock
.python-version
.venv/
.venv-docs-test/

# downloaded models
sevenn/pretrained_potentials/SevenNet_MF_ompa
sevenn/pretrained_potentials/SevenNet_omat
sevenn/pretrained_potentials/SevenNet_omni
sevenn/pretrained_potentials/SevenNet_omni_i8
sevenn/pretrained_potentials/SevenNet_omni_i12

# from compile
sevenn/pair_d3*
*ninja*
*libpaird3*

# generated benchmark outputs
bench/results/
external_bench_data/

# generated docs outputs
docs/_build/
